body * {
    max-width: 75%;
    margin: auto 10%;
    padding: auto 20px;
}

.hader h2 {
    color: #fbdbdb;
    text-align: center;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hader p {
    color: #fbdbdb;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.form input {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #ffffff;
    margin: 10px;
    border: none;
}

.find-now input {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    color: #FFF;
    background: #ea0505;
    border: none;
}

.option select option {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #ffffff;
}

section {
    gap: 1px;
    display: flex;
    /* margin: 5% 10%; */
}

.backround {
    background-image: url('../Images/Group\ 13.png');
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #000000, #13131800
}

.container h3 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
}

.container {
    max-width: 500px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.button {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
}

.button input {
    color: #FFF;
    background-color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
}

.readmore img {
    display: flex;
    width: 450px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
    margin: -450px 600px;
}
